p-image{
    transition: transform .2s;
    
}

p-image:hoover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 

}

.buttom{
    margin-bottom: 100 px;
}

