<p>upload works!</p>
<p-toast></p-toast>

<div class="card">
    <!-- <p-fileUpload name="myfile[]"></p-fileUpload> -->

    <h5>Upload image</h5>
    <p-fileUpload #form name="uploadedFiles[]" [customUpload]="true" [multiple]="true" (uploadHandler)="onUpload($event, form)" [maxFileSize]="5000000" accept="image/*">
            <ng-template pTemplate="content">
                <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                </ul>
            </ng-template>
    </p-fileUpload>
</div>